* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #e6eeff;
  color: black;
  z-index: 2;
  opacity: .7;
}

header:hover {
  opacity: .85
}

.nav-item {
  font-size: 1.5em;
  height: 2em;
  margin: 0 1.5em 0 1em;
  padding: 5px;
}

#logo {
  font-size: 1.5em;
  height: 2em;
  margin: 0 1.5em 0 1em;
  padding: 5px;
}

.infobox {
  height: 100px;
  width: 100px;
  background-color: gold;
  flex-grow: 1;
}

#infobox-container {
  display: flex;
  flex-direction: column;
  width: 20vw
}

#main {
  display: flex;
  justify-content: flex-end;
}

.drop-container {
  background-color: dimgrey;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px
}
